[Desktop Entry]
Name=Oxitailr
Comment=Modern log viewer with SSH support
Exec=oxitailr
Icon=oxitailr
Terminal=true
Type=Application
Categories=Development;Utility;System;
Keywords=log;tail;viewer;ssh;
